.header {
    height: var(--header-height);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #111827;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    height: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 2vw;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-image {
    height: var(--header-height);
    width: auto;
    transition: transform 0.2s ease;
}

.logo-image:hover {
    transform: scale(1.1);
}